html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #050a1a;
  overflow: hidden;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(110px, 1fr));
  gap: 16px;
}
